@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    font-family: 'Poppins', sans-serif;
    @apply text-gray-600;
}

.hamburger-line {
    @apply w-[30px] h-[3px] my-2 block bg-primary transition-all;
}

#btn-hamburger > span {
    @apply origin-right;
}

.nav-fixed {
    @apply fixed z-50 bg-white shadow-sm bg-opacity-60;
    backdrop-filter: blur(7px);
}

.hamburger-active > span:nth-child(1){
    @apply -rotate-45 origin-right;
}
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}
.hamburger-active > span:nth-child(3){
    @apply rotate-45 origin-right;
}

section {
    @apply container;
}

.button {
    @apply py-3 px-5 bg-primary rounded-lg text-white font-medium hover:bg-blue-400 transition-all;
}

input[type="text"], input[type="email"], .input {
    @apply block w-full px-3 py-2 placeholder-slate-400 rounded-md text-sm bg-white border border-slate-300 focus:outline-none focus:border-primary focus:ring-1 focus:ring-sky-500
}

